
form {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  height: 50vw;
  margin-right: 30vw;
  margin-left: 28vw;
  margin-top: 2vw;
  cursor: pointer;
}

input {
  height: 10vw;
  width: 10vw;
  background-color: #38AB36;
  color: #F1F8F1;
  text-align: center;
  font-size: 3vw;
  font-family: 'Noto Sans', sans-serif;
  font-weight: lighter;
  border: solid 1px #8DD08D;
}

#display {
  width: 30vw;
}

#clear:hover, #equals:hover {
  background-color: #5CBD5A;
}

.operator {
  background-color: #5CBD5A;
  color: #274E24;
}

.operator:hover {
  color: #F1F8F1;
}
